h1{
  align-items: center;
  justify-content: center;
}

.title{
  margin-top: 5px;
  h1{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  p{
    @extend h1;
    color: lightgray;
  }
}

div{
  .headerImg{
    height: 74vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("images/pexels-roberto-nickson-2559941.jpg");
  }
  .headerText{
    h3{
      color: white;
    }
    p{
      color: lightgray;
    }
  }
}