.headerNav{
  display: flex;
  justify-content: space-around;

}
h1{
  align-items: center;
  justify-content: center;
}

div{
  h1,p{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

div{
  text-align: center;
  img{
    width: 100%;
    object-fit: cover;
  }
}