



.sliderArea{
  background-color: #1d2124;
  height: 70vh;
  align-items: center;
  display: flex;
  justify-content: center;
  img{
    height: 50vh;
    object-fit: cover;
    border-radius: 40px;
  }
  .textArea{
    text-align: start;
    padding-left: 25px;
    h3{
      width: 40vh;
      font-size: 1.3rem;
    }
  }
}
